<h1>All reviews</h1><br>
Click on the created on link to see the review.<br><br>
<% @reviews.each do |review| %>

<p>Movie:<%= review.movie_name %></p>

    <p><%= review.content %></p>

    <li> by: <%= review.user.name %></li>
  <p>Created On:<a href="/reviews/<%= review.id %>"><%= review.created_at_date_time %></a><br><br>
<% end %>
