This is the all reviews page!!!!<br><br>

<% @reviews.each do |review| %>

<li><p>Movie:<%= review.movie_name %></p>

    <p><%= review.content %></p>

    <p> by: <%= review.user.name %></p>
  <p>Created On:<a href="/reviews/<%= review.id %>"><%= review.created_at_date_time %></a></p></li>
<% end %>
